.calc {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 20px;
}
.calc .operations-block button {
    width: 40px;
    height: 40px;
    margin: 20px;
}
 .calc .inputs-block label {
    display: block;
}
.calc .input-block {
    display: inline-block;
    padding: 10px;
}